.arrow {
    top: 24px;
}

.control {
    border: unset;
    width: 180px;
    cursor: pointer;
}

@media (--md-viewport) { 
    .control {
        width: 60px;
        .wrapper {
            & span {
                display: none;
            }
        }
    }

    .arrow {
        top: 20px;
    }

    .menu {
        width: 180px;
        left: -118px;
    }
}


.wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;

    & .icon {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}