/* header */
.header {
    z-index: 9999999;
    position: fixed;
    height: 96px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    display: flex;
    align-items: center;

    & .logo {
        color: var(--colors-themed-default);
      }
    
      & a,
      & a:visited {
        color: var(--colors-themed-default);
    
        &:hover,
        &:focus,
        &:active {
          color: var(--colors-themed-default);
        }
      }
}

.padder {
  min-height: 96px;
}

.lang-select  {
  & button {
    border: 0px;
    border-radius: unset;
    outline:none;
  }

  & ul {
    padding: 0px;
    width: 150px;
    margin-left: -40px;
    margin-top: 0px;
  }
}

.lang-select-wrapper > div {
  padding-bottom: 0px;
}

.header .brand-a {
    height: 46px;
}

.header .brand {
    cursor: pointer;
    background: url('../../public/brand/animeshon-brand-horizontal.svg');
    background-repeat: no-repeat;
    margin-right: 40px;
}

@media (--md-viewport) { 
    .header .brand {
        width: 46px;
        margin-right: 20px;
        background: url('../../public/brand/animeshon-brand-horizontal-small.svg');
        background-repeat: no-repeat;
    } 
}

@media (--sm-viewport) { 
  .header .brand {
      width: 46px;
      margin-right: 20px;
      background: url('../../public/brand/animeshon-brand-horizontal-small.svg');
      background-repeat: no-repeat;
  } 
}

.header .brand span {
    font-size: 12px;
    opacity: 0;
}
.header .search_group {
    flex: 1;
    margin-right: 30px;
}
.header .search_input {
    text-indent: 15px;
    max-width: 500px;
    width: 100%;
    height: 44px;
    border: 1px solid var(--colors-base-text);
    border-radius: 22px;
    outline: none;
}

.header .hamburger_icon {
    height: 32px;
    width: 32px;
    padding: 3px 0;
    background-color: #fff;
    appearance: none;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    outline: none;
    cursor: pointer;
}

.header .hamburger_icon span {
    height: 1px;
    background-color: #7f7f7f;
    width: 100%;
    display: block;
}

.right-menu {
    flex-grow: 0;
  }
  
  .icon-menu {
    & ul {
      padding: 0;
      margin: 0;
    }
  
    & li {
      padding: 0;
      display: inline-block;
      margin: 0 8px;
      font-size: 14px;
  
      & a img {
        transition: filter ease 200ms;
      }
  
      & a:hover,
      & a:active {
        & img {
          filter: invert(1);
        }
      }
    }
  }
  