:root {
  --alpha-20: rgba(0, 0, 0, 0.05);

  --colors-base-black: #000000;
  --colors-base-dark: #19191d;
  --colors-base-grey: #5a5b6a;
  --colors-base-text: #99999e;
  --colors-base-light: #fafafa;
  --colors-base-white: #ffffff;

  --colors-themed-default: #5528ff;
  --colors-themed-weak: #8e70ff;
  --colors-themed-light: #fafaff;

  --colors-green-default: #4caf50;
  --colors-green-weak: #7bc67e;
  --colors-green-light: #edf6ee;

  --colors-yellow-default: #ffb41f;
  --colors-yellow-weak: #ffdfa0;
  --colors-yellow-light: #fff8ea;

  --colors-red-default: #f44336;
  --colors-red-weak: #f88078;
  --colors-red-light: #feedec;
}