:root {
  --alpha-20: rgba(0, 0, 0, 0.05);

  --colors-base-black: #000000;
  --colors-base-dark: #19191d;
  --colors-base-grey: #5a5b6a;
  --colors-base-text: #99999e;
  --colors-base-light: #fafafa;
  --colors-base-white: #ffffff;

  --colors-themed-default: var(--colors-purple-default);
  --colors-themed-weak: var(--colors-purple-weak);
  --colors-themed-light: var(--colors-purple-light);
  --colors-themed-blog: var(--colors-purple-default);

  --colors-purple-default: #3e28ff;
  --colors-purple-weak: #707eff;
  --colors-purple-light: #fafaff;

  --colors-green-default: #4caf50;
  --colors-green-weak: #7bc67e;
  --colors-green-light: #edf6ee;

  --colors-yellow-default: #ffb41f;
  --colors-yellow-weak: #ffdfa0;
  --colors-yellow-light: #fff8ea;

  --colors-red-default: #f13434;
  --colors-red-weak: #ffdada;
  --colors-red-light: #feedec;

  --colors-blue-default: #06AED5;
  --colors-blue-weak: #b0e8f5;
  --colors-blue-light: #b9b9b9;
}