
.arrow {
  // align-items: center;
  // display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;

  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  transition: all ease 200ms;

  & {
    &:hover,
    &:active,
    &:focus {
      color: var(--colors-themed-weak);
      & .icon {
        color: var(--colors-themed-weak);
      }
    }
  }
}

.arrow .icon {
  color: var(--colors-themed-weak);
  margin: 0px 5px;
}

.right {
  position: absolute;
  top: calc(100% + 30px);
  right: -80px;
}

.left {
  position: absolute;
  top: calc(100% + 30px);
  left: -80px;
}

.rise {
  top: calc(100% - 70px);
}

@media (--blog-viewport) {
  .right {
    top: calc(20px);
    right: 10px;
  }
  
  .left {
    top: calc(20px);
    left: 10px;
  }
}

.arrow-users {
  color: var(--colors-base-dark);

  & {
    &:hover,
    &:active,
    &:focus {
      color: var(--colors-themed-weak);
      & .icon {
        color: var(--colors-themed-weak);
      }
    }
  }
}
