@import '@/styles/reset.scss';

.mini-graphiql-wrapper {
  .test {
    height: 100%;
  }
}

.graphql-playground {
  text-align: left;
  width: 100%;
  height: 300px;
} 

@media (--lg-strict-viewport) {
  .graphql-playground {
    margin-top: 60px;
  }
}

@media (--md-viewport) {
  .graphql-playground {
    display: none;
  }
}

@media (--sm-viewport) {
  .graphql-playground {
    display: none;
  }
}