// @import '@/styles/properties.scss';
@import '@/styles/grid.scss';
@import '@/styles/globals.scss';
@import '@/styles/typography.scss';

.newsletter {
  background-color: var(--colors-base-dark);
  padding: 64px 0;
  position: relative;
  color: var(--colors-base-white);
}

@media (--sm-viewport) {
  .newsletter {
    padding: 64px 0;
  }

  .right {
    margin-top: 32px;
  }
}

@media (--md-viewport) {
  .newsletter {
    padding: 64px 0;
  }

  .right {
    margin-top: 32px;
  }
}

.light {
  background-color: var(--colors-base-dark);
}