.timeline {
  margin-top: 64px;
  padding-top: 32px;
  background-color: var(--colors-themed-weak);
}

@media (min-width: 1170px) {
  .date-default {
    color: var(--colors-base-light);
  }
}

.header {
  color: var(--colors-base-white);
  & p {
    margin-bottom: 16px;
  }
}
