.timeline {
  margin-top: 64px;
  padding-top: 32px;
  background-color: var(--colors-themed-weak);
  overflow: hidden;
}

@media (min-width: 1170px) {
  .date-default {
    color: var(--colors-base-black);
  }
}

.header {
  color: var(-colors-base-dark);
  & p {
    margin-bottom: 16px;
  }
}
