.user_type_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-right: 40px;
  margin-bottom: 40px;
  width: 30%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  border-radius: 50px;
}

.user_type_creator {
  background: #ebbcc7;
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
  &:focus,
  &:hover {
    background: #f05378;
  }
}

.user_type_user {
  background: #86d2e7;
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
  &:focus,
  &:hover {
    background: #2dbee6;
  }
}

.user_type_dev {
  background: #ebd66f;
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
  &:focus,
  &:hover {
    background: #F0C808;
  }
}

.user_type_button:nth-last-child(1) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.children_container {
  position: relative;
  display: contents;
  height: calc(100% - 30px);
}

.user_type_button span {
  position: absolute;
  top: 10px;
}

@media screen and (max-width: 1180px) {
  .user_type_button {
    width: 100%;
    height: 450px;
  }
}

@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
