.home {
  display: flex;
  flex-direction: column;
}

.home-header {
  height: 70px;
  width: 100%;
  padding: 20px;
}

.home-search-box {
  height: calc(100vh - 137px);
  min-height: 280px;
  padding: 20px;
  display: flex;
}

.home-search-box h1 {
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  font-size: 72px;
}

.home-search-box h3 {
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 36px;
}

.home .home-search-box .internal-space {
  flex-direction: column;
}

.home .internal-space {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-content: center;
}

.internal-space .user-type-button-grid {
  height: 100%;
  display: -webkit-box;
}

@media screen and (max-width: 1180px) {
  .internal-space .user-type-button-grid {
    display: contents;
  }

  .home-search-box {
    height: unset
  }

  .home-search-box h3 {
    font-size: 24px;
  }

  .home-search-box h1 {
    font-size: 36px;
  }
}