html {
  font-family: 'Roboto', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  // background-color: var(--colors-base-dark);
}

img.responsive {
  width: 100%;
}

video {
  max-width: 100%;
}

.embedVideo-container iframe {
  max-width: 100%;
}

.theme-users {
  --colors-themed-default: var(--colors-blue-default);
  --colors-themed-weak: var(--colors-blue-weak);
  --colors-themed-light: var(--colors-blue-light);
  --colors-themed-blog: var(--colors-base-light);
}

.theme-creators {
  --colors-themed-default: var(--colors-red-default);
  --colors-themed-weak: var(--colors-red-weak);
  --colors-themed-light: var(--colors-red-light);
  --colors-themed-blog: var(--colors-red-default);
}

.theme-developers {
  --colors-themed-default: var(--colors-purple-default);
  --colors-themed-weak: var(--colors-purple-weak);
  --colors-themed-light: var(--colors-purple-light);
  --colors-themed-blog: var(--colors-purple-default);
}

.youtube {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  &.youtube::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  &.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}